<footer>
    <a href="https://www.facebook.com"><img src="@dynamiclink:8092/?type=icons&img=facebook" alt="Facebook"
            class="logo"></a>
    <a href="https://www.flickr.com"><img src="@dynamiclink:8092/?type=icons&img=flickr" alt="Flickr" class="logo"></a>
    <a href="https://www.instagram.com"><img src="@dynamiclink:8092/?type=icons&img=instagram" alt="Instagram"
            class="logo"></a>
    <a href="https://www.pinterest.com"><img src="@dynamiclink:8092/?type=icons&img=pinterest" alt="Pinterest"
            class="logo"></a>
    <a href="https://www.youtube.com"><img src="@dynamiclink:8092/?type=icons&img=youtube" alt="YouTube"
            class="logo"></a>
    <div>
        <p>
            <a href="#contact" class="contact-link">
                Contact Me
            </a>
        </p>
    </div>
</footer>

<br>
<br>

<style>
    footer {
        text-align: center;
        margin-top: 20px;
    }

    footer p {
        margin-top: 10px;
        font-size: 18px;
    }

    footer p a {
        transition: transform 0.2s;
    }

    footer p a:hover {
        transform: scale(1.05);
    }

    /* Logo images */
    .logo {
        display: inline-block;
        margin: 0 10px;
        transition: transform 0.2s;
    }

    /* Hover effect for logos */
    .logo:hover {
        transform: scale(1.05);
    }

    /* Contact link */
    .contact-link {
        color: black;
        text-decoration: underline;
    }
</style>