<br>
<br>
<br>
<br>
<br>
<br>

<div id="album-gallery"></div>

<br>
<br>
<br>
<br>
<br>
<br>

<style>
    #album-gallery {
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #album-gallery img {
        width: calc(33.33% - 10px);
        margin: 5px;
        border-radius: 10px;
        transition: transform 0.3s ease;
        filter: blur(0.1px);
    }

    #album-gallery img:hover {
        transform: scale(1.01);
        filter: blur(0px);
    }
</style>
