<br />
<div
    class="navbar-container"
    id="homepagenavbar-container">
    <div class="navbar">
        <a
            id="navbar-home-option"
            href="#home"
            >Home</a
        >
        <a
            id="navbar-contact-option"
            href="#contact"
            >Contact</a
        >
        <a
            id="navbar-about-option"
            href="#about"
            >About</a
        >
        <a
            id="navbar-pricing-option"
            href="#pricing"
            >Pricing</a
        >
        <a
            id="navbar-blog-option"
            href="#blog"
            >Blog</a
        >
        <a
            id="navbar-albums-option"
            href="#albums"
            >Albums</a
        >
    </div>
</div>
