<div id="navbar">
    <a href="#home" class="navbar-home-option" id="navbar-home-option">
        <button id="home-plain-button" class="plain-button">
            Home
        </button>
    </a>
    <div class="navbar-right">
        <div class="navbar-option">
            <a id="navbar-contact-option" href="#contact">
                <button id="contact-plain-button" class="plain-button">
                    Contact
                </button>
            </a>
        </div>
        <div class="navbar-option">
            <a id="navbar-about-option" href="#about">
                <button id="about-plain-button" class="plain-button">
                    About
                </button>
            </a>
        </div>
        <div class="navbar-option">
            <a id="navbar-pricing-option" href="#pricing">
                <button id="pricing-plain-button" class="plain-button">
                    Pricing
                </button>
            </a>
        </div>
        <div class="navbar-option">
            <a id="navbar-blog-option" href="#blog">
                <button id="blog-plain-button" class="plain-button">
                    Blog
                </button>
            </a>
        </div>
        <div class="navbar-option">
            <a id="navbar-albums-option" href="#albums">
                <button id="albums-plain-button" class="plain-button">
                    Albums
                </button>
            </a>
        </div>
    </div>
</div>