<div id="navbar">
    <a href="#home" class="navbar-home-option" id="navbar-home-option">
        <button id="home-plain-button" class="plain-button">
            Home
        </button>
    </a>
    <div class="navbar-right">
        <div class="navbar-option">
            <a id="navbar-contact-option" href="#contact">
                <button id="contact-plain-button" class="plain-button">
                    Contact
                </button>
            </a>
        </div>
        <div class="navbar-option">
            <a id="navbar-about-option" href="#about">
                <button id="about-plain-button" class="plain-button">
                    About
                </button>
            </a>
        </div>
        <div class="navbar-option">
            <a id="navbar-pricing-option" href="#pricing">
                <button id="pricing-plain-button" class="plain-button">
                    Pricing
                </button>
            </a>
        </div>
        <div class="navbar-option">
            <a id="navbar-blog-option" href="#blog">
                <button id="blog-plain-button" class="plain-button">
                    Blog
                </button>
            </a>
        </div>
        <div class="navbar-option">
            <a id="navbar-albums-option" href="#albums">
                <button id="albums-plain-button" class="plain-button">
                    Albums
                </button>
            </a>
        </div>
    </div>
</div>

<style>
    #navbar {
        background-color: #d1cccc;
        padding: 1% 1%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #navbar a {
        color: black;
        text-decoration: none;
    }

    .navbar-option {
        margin-left: 8%;
    }

    #navbar button:hover {
        color: rgb(59, 59, 59);
        border-radius: 5px;
    }

    .plain-button {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        font-family: inherit;
        font-size: 120%;
        color: inherit;
        cursor: pointer;
    }
</style>