body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer p {
    margin-top: 10px;
    font-size: 18px;
}

footer p a {
    transition: transform 0.2s;
}

footer p a:hover {
    transform: scale(1.05);
}

.imagee_ {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.2s;
    width: 40px;
    height: 40px;
}

.imagee_:hover {
    transform: scale(1.05);
}

.contact-link {
    color: black;
    text-decoration: underline;
    cursor: pointer;
    transition: transform 0.2s;
    font-size: 20px;
}

.contact-link:hover {
    transform: scale(4);
}

#navbar {
    background-color: #3A3A3B;
    color: white;
    padding: 1% 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#navbar a {
    color: white;
    text-decoration: none;
}

.navbar-option {
    margin-left: 8%;
}

#navbar button:hover {
    color: rgb(218, 216, 216);
    border-radius: 5px;
}

.plain-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: 120%;
    color: inherit;
    cursor: pointer;
}