body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer p {
    margin-top: 10px;
    font-size: 18px;
}

footer p a {
    transition: transform 0.2s;
}

footer p a:hover {
    transform: scale(1.05);
}

.contact-link {
    color: black;
    text-decoration: underline;
    cursor: pointer;
    transition: transform 0.2s;
    font-size: 20px;
}

.contact-link:hover {
    transform: scale(4);
}

.plain-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: 120%;
    color: inherit;
    cursor: pointer;
}

#homepage-navbar-div {
    background-image: url("@dynamiclink:8092/?type=welcome&img=1");
    display: none;
    width: 100%;
    opacity: 0.97;
    background-repeat: no-repeat;
    height: 100%;
    transition: background-image 0.5s ease, filter 0.5s ease;
    filter: blur(0);
    background-position: center;
}

#homepage-navbar-div.blur {
    filter: blur(10px);
}

.navbar-container {
    position: absolute;
    width: auto;
    margin-left: 60%;
    margin-top: 1%;
}

.navbar {
    overflow: hidden;
    background-color: #3A3A3B;
}

#navbar-home-option {
    font-size: 17.5px;
}

.navbar a {
    text-decoration: none;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 24px;
    font-size: 17px;
}

.navbar a:hover {
    background-color: gray;
}

.contactFormDiv {
    text-align: center;
}

.albumImage {
    max-width: 30%;
    max-height: 40vh;
    border-radius: 30px;
    filter: brightness(1.2) blur(0.05px);
    transition: all 0.3s ease;
}

.albumImage:hover {
    transform: scale(1.01);
    filter: brightness(1.2) blur(0px);
}
